input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
  &::-webkit-input-placeholder {
    color: #888;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #888;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #888;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #888;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
}

input, textarea, select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
}

option {
  text-indent: 1em;
  font-family: '微软雅黑';
}

input[type='text'] {
  border: none;
  text-indent: 1em;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

a, i {
  display: block;
}

.header {
  padding: 13px 0;
  box-sizing: border-box;
  //border: 1px solid #cccccc;
  .nuoda_logo {
    width: 180px;
    height: 60px;
    float: left;
    margin-right: 12px;
  }
  .uws_logo {
    width: 208px;
    height: 44px;
    float: left;
    margin-top: 8px;
  }
  .nav {
    float: left;
    margin-top: 19px;
    .nav-item {
      float: left;
      color: #333333;
      font-size: 16px;
      border-right: 1px dotted #333333;
      padding: 0 24px;
      box-sizing: border-box;
      &:last-child{
        border-right: 0;
      }
      &:hover {
        color: #eb4d4d;
      }
    }
  }
  .tel {
    float: right;
    margin-top: 14px;
    .icon {
      width: 32px;
      height: 30px;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/tel.png") no-repeat;
      float: left;
    }
    .tel-text {
      color: #f05630;
      font-size: 24px;
      float: left;
    }
  }
}

.banner {
  width: 100%;
  height: 428px;
  background: url("https://img.thea.cn/thea/zt/seo/uws/images/banner.png") no-repeat center;
  padding: 90px 0;
  box-sizing: border-box;
  text-align: center;
  color: #FFFFFF;
  .btn {
    font-size: 18px;
    margin-top: 214px;
    .btn-item {
      width: 162px;
      height: 43px;
      //padding: 0 72px;
      //box-sizing: border-box;
      color: #FFFFFF;
      text-align: center;
      border-radius: 5px;
      line-height: 43px;
      display: inline-block;
      //border: 1px solid #000;
      text-indent: -9999px;
      &:nth-of-type(2) {
        margin-left: 30px;
        margin-right: 2px;
      }
      &:hover{
        //transform: scale(1.1);
      }
    }
  }
}

/*英国西苏格兰大学*/
.uws {
  padding: 48px 28px;
  box-sizing: border-box;
  .uws-detail {
    float: left;
    max-width: 538px;
    .uws-bg {
      width: 538px;
      height: 240px;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg1.png") no-repeat;
      margin-bottom: 20px;
    }
    .uws-head {
      text-align: center;
      .line {
        width: 6px;
        height: 34px;
        background-image: linear-gradient(to bottom, #FFFFFF, #ff653e 20%);
        border-radius: 3px;
        float: left;
        margin-top: 6px;
      }
      .uws-logo {
        width: 182px;
        height: 40px;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/uws.png") no-repeat;
        float: left;
      }
      .uws-title {
        font-size: 22px;
        font-weight: bold;
        float: left;
        line-height: 38px;
      }
      .text {
        font-size: 14px;
        color: #555555;
        clear: both;
        line-height: 25px;
        padding: 10px 0;
        box-sizing: border-box;
        text-align: left;
      }
      .uws-btn {
        //border: 1px solid #000;
        width: 132px;
        height: 50px;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/school_detail.png") no-repeat;
        display: inline-block;
        text-align: center;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
  /*荣誉*/
  .honor {
    width: 580px;
    //border: 1px solid #cccccc;
    float: right;
    .honor-row {
      width: 100%;
      //border: 1px solid #cccccc;
      .num {
        display: block;
        width: 30px;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/circle.png") no-repeat;
        text-align: center;
        line-height: 30px;
        color: #FFFFFF;
        font-size: 14px;
        position: relative;
        float: left;
        &:before {
          display: block;
          content: "";
          border-left: 1px dotted #626262;
          height: 82%;
          position: absolute;
          top: 18%;
          left: 50%;
        }
      }
      .detail {
        width: 92%;
        //border: 1px solid #000;
        float: right;
        padding-left: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        margin-top: -8px;
        .honor-title {
          font-size: 18px;
          line-height: 44px;
          font-weight: bold;
          color: #444444;
        }
        .text {
          .icon {
            width: 5px;
            height: 5px;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/circle_black.png") no-repeat;
            float: left;
            margin-top: 12px;
            margin-right: 6px;
          }
          font-size: 14px;
          color: #666666;
          line-height: 25px;
          span {
            float: left;
            width: 96%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
            -webkit-box-orient: vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
            -webkit-line-clamp: 3; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
          }

        }
        &:hover {
          background: #f4f4f4;
          .honor-title {
            color: #3069ce;
          }
        }
      }
    }
  }
}

/*项目*/
.project {
  padding: 36px 0;
  box-sizing: border-box;
  background: #eceff6;
  margin-bottom: 58px;
  /*简介*/
  .intro {
    width: 408px;
    //height: 573px;
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg2.png") no-repeat;
    padding: 45px 28px;
    box-sizing: border-box;
    color: #FFFFFF;
    float: left;
    .intro-title {
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon4.png") no-repeat;
      border-radius: 5px;
      padding: 10px 0 10px 20px;
      box-sizing: border-box;

      .en {
        font-size: 26px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .ch {
        font-size: 32px;
        line-height: 36px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .intro-detail {
      min-height: 360px;
      padding: 30px;
      box-sizing: border-box;
      font-size: 14px;
      color: #555555;
      background: #FFFFFF;
      margin-top: 42px;
      line-height: 28px;
      text-align: center;
      .text {
        text-align: left;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
        -webkit-box-orient: vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
        -webkit-line-clamp: 9; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
      }
      .intro-btn {
        color: #ff714b;
        border: 1px solid #ff714b;
        padding: 0 16px;
        box-sizing: border-box;
        line-height: 32px;
        display: inline-block;
        margin-top: 10px;
        &:hover {
          background: #ff714b;
          color: #FFFFFF;
        }
      }
    }
  }
  .classes {
    width: 379px;
    float: left;
    .classes-content {
      padding: 16px 24px;
      box-sizing: border-box;
      text-align: center;
      background: #FFFFFF;
      .classes-ul {
        height: 160px;
        overflow: hidden;
        .classes-row {
          .icon {
            width: 5px;
            height: 5px;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/circle-blue.png") no-repeat;
            float: left;
            margin-top: 12px;
            margin-right: 10px;
          }
          span {
            width: 94%;
            line-height: 28px;
            font-size: 14px;
            color: #555555;
            float: left;
            text-align: left;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .intro-btn {
        color: #ff714b;
        border: 1px solid #ff714b;
        padding: 0 16px;
        box-sizing: border-box;
        line-height: 32px;
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        &:hover {
          background: #ff714b;
          color: #FFFFFF;
        }
      }
    }
    .classes-bg {
      width: 379px;
      height: 366px;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg3.png") no-repeat;
    }
  }
  /*伦敦考试委员会*/
  .leb {
    width: 413px;
    float: right;
    .leb-bg {
      width: 413px;
      height: 238px;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg4.png") no-repeat;
    }
    .leb-detail {
      max-height: 336px;
      overflow-y: hidden;
      color: #555555;
      background: #FFFFFF;
      padding: 24px;
      box-sizing: border-box;
      text-align: center;
      .text {
        font-size: 14px;
        text-align: left;
        line-height: 28px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
        -webkit-box-orient: vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
        -webkit-line-clamp: 9; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
      }
      .intro-btn {
        color: #ff714b;
        border: 1px solid #ff714b;
        padding: 0 16px;
        box-sizing: border-box;
        line-height: 32px;
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        &:hover {
          background: #ff714b;
          color: #FFFFFF;
        }
      }
    }
  }
}

/*课程设置*/
.curriculum {
  height: 226px;
  .wrap {
    position: absolute;
    height: 226px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .classes-set {
    width: 300px;
    position: absolute;
    left: 0;
    .intro-title {
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon5.png") no-repeat;
      border-radius: 5px;
      padding-left: 5px;
      box-sizing: border-box;
      color: #2c56bd;
      .en {
        font-size: 26px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .ch {
        font-size: 32px;
        line-height: 36px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .text {
      font-size: 14px;
      text-align: left;
      line-height: 28px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
      -webkit-box-orient: vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
      -webkit-line-clamp: 5; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。

      margin-top: 20px;
    }
  }
  .modules {
    position: absolute;
    right: 0;
    .module-item {
      width: 245px;
      height: 178px;
      overflow: hidden;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg5.png") no-repeat #FFFFFF;
      border: 1px solid #2c56bd;
      float: left;
      margin-left: 10px;
      padding: 16px;
      font-size: 14px;
      position: relative;
      .item-title {
        font-size: 20px;
        font-weight: bold;
        color: #444444;
      }
      .line {
        display: block;
        width: 44px;
        height: 2px;
        background: #2c56bd;
        margin: 6px 0;
      }
      .en {
        font-size: 14px;
        color: #999999;
      }
      .admin {
        width: 100%;
        height: 76px;
        overflow: hidden;
        float: left;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/shadow.png") no-repeat;
        //border: 1px solid #000;
        .classes-row {
          .icon {
            width: 5px;
            height: 5px;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/circle-blue.png") no-repeat;
            float: left;
            margin-top: 12px;
            margin-right: 10px;
          }
          span {
            width: 93%;
            line-height: 26px;
            color: #555555;
            float: left;
            text-align: left;
          }
        }
      }

      .intro-btn {
        width: 246px;
        //height: 32px;
        background: #2c56bd;
        color: #FFFFFF;
        padding: 0 16px;
        box-sizing: border-box;
        line-height: 42px;
        text-align: center;
        position: absolute;
        bottom: 16px;
        box-shadow:0 -12px 80px 0px #FFFFFFFF;
      }
      &:hover {
        height: auto;
        .admin {
          overflow: visible;
          height: auto;
          margin-bottom: 50px;
        }
        .item-title {
          color: #2c56bd;
        }
      }
    }
  }
}

/*模块简介*/
.module-intro {
  width: 100%;
  background: url("https://img.thea.cn/thea/zt/seo/uws/images/module_intro.png") no-repeat center;
  background-position-y: 57px;
  /*管理*/
  .manage {
    .manage-head {
      border: 1px solid #000;
      padding-left: 26px;
      box-sizing: border-box;
      span {
        display: inline-block;
        font-size: 30px;
        color: #FFFFFF;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon2.png");
        padding: 0 34px;
        box-sizing: border-box;
        line-height: 57px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    .manage-col {
      width: 448px;
      //height: 710px;
      //border: 1px solid #cccccc;
      float: left;
      margin-top: 120px;
      padding: 34px 28px;
      box-sizing: border-box;
      .col-item {
        //border: 1px solid #000;
        margin-bottom: 50px;
        .item-title {
          margin-bottom: 5px;
          .icon {
            width: 68px;
            height: 50px;
            //border: 1px solid #000;
            float: left;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/num1.png") no-repeat;
            //padding: 0 16px;
            font-style: normal;
            font-size: 30px;
            color: #FFFFFF;
            line-height: 44px;
            margin-right: 6px;
            text-indent: -9999px;
          }
          .title-name {
            font-size: 24px;
            line-height: 44px;
            em {
              color: #2c56bd;
            }
          }
        }
        .text {
          .icon {
            width: 6px;
            height: 8px;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/triangle.png") no-repeat;
            float: left;
            margin-top: 8px;
            margin-right: 6px;
          }
          p {
            font-size: 14px;
            color: #666666;
            float: left;
            width: 96%;
            line-height: 24px;
          }
        }
        &:nth-child(2){
          .item-title{
            .icon{
              background: url("https://img.thea.cn/thea/zt/seo/uws/images/num2.png") no-repeat;
            }
          }
        }
        &:nth-child(3){
          .item-title{
            .icon{
              background: url("https://img.thea.cn/thea/zt/seo/uws/images/num3.png") no-repeat;
            }
          }
        }
        &:nth-child(4){
          .item-title{
            .icon{
              background: url("https://img.thea.cn/thea/zt/seo/uws/images/num4.png") no-repeat;
            }
          }
        }
        &:last-child {
          margin-bottom: 34px;
        }
      }
      &:last-child {
        width: 440px;
        float: right;
        .col-item {
          .item-title {
            .icon {
              float: right;
              margin-left: 6px;
            }
            .title-name {
              float: right;
            }
          }
          .item-title{
            .icon{
              background: url("https://img.thea.cn/thea/zt/seo/uws/images/num5.png") no-repeat;
            }
          }
          .text {
            p {
              text-align: right;
            }
          }
          &:nth-child(2){
            .item-title{
              .icon{
                background: url("https://img.thea.cn/thea/zt/seo/uws/images/num6.png") no-repeat;
              }
            }
          }
          &:nth-child(3){
            .item-title{
              .icon{
                background: url("https://img.thea.cn/thea/zt/seo/uws/images/num7.png") no-repeat;
              }
            }
          }
          &:nth-child(4){
            .item-title{
              .icon{
                background: url("https://img.thea.cn/thea/zt/seo/uws/images/num8.png") no-repeat;
              }
            }
          }
        }
      }
    }
  }
  /*预约*/
  .appoint {
    height: 168px;
    margin-top: -8px;
    padding: 55px 49px 55px 200px;
    box-sizing: border-box;
    .appoint-from {
      float: right;
      //border: 1px solid red;
      .from-item {
        width: 285px;
        //border: 1px solid black;
        line-height: 54px;
        font-size: 16px;
        border-radius: 6px;
        margin-right: 20px;
        box-sizing: border-box;
        &::placeholder {
          color: #888888;
        }
        &:last-child {
          margin-right: 0;
          width: 241px;
          cursor: pointer;
          text-indent: -9999px;
        }
      }
    }
  }
}

/* 标题模板 */
.title-module{
  color: #2c56bd;
  .en {
    font-size: 28px;
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon6.png") no-repeat center;
    padding-top: 46px;
  }
  .cn {
    font-size: 32px;
    font-weight: bold;
  }
}

/*项目优势*/
.pro-advantage {
  text-align: center;
  margin-top: 34px;
  .content {
    margin-top: 48px;
    margin-bottom: 32px;
    .adv-item {
      width: 380px;
      height: 410px;
      //border: 1px solid #cccccc;
      float: left;
      margin-right: 25px;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0px 2px 15px 0px
      rgba(222, 222, 222, 0.53);
      .item-bg {
        width: 340px;
        height: 180px;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon7.png") no-repeat;
      }
      .item-title {
        color: #444444;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        margin: 10px 0;
      }
      .text {
        text-align: left;
        font-size: 14px;
        color: #555555;
        line-height: 28px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; //将对象作为弹性伸缩盒子模型显示。
        -webkit-box-orient: vertical; //从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
        -webkit-line-clamp: 5; //这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
      }
      &:nth-of-type(2) {
        .item-bg {
          background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon8.png") no-repeat;
        }
      }
      &:nth-of-type(3) {
        .item-bg {
          background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon9.png") no-repeat;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btn {
    font-size: 18px;
    margin-top: 30px;
    //border: 1px solid #cccccc;
    .btn-item {
      width: 166px;
      height: 58px;
      color: #FFFFFF;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/btn_1.png") no-repeat;
      text-align: center;
      border-radius: 5px;
      display: inline-block;
      text-indent: -9999px;
      &:nth-of-type(2) {
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/btn_2.png") no-repeat;
        margin-left: 30px;
      }
      &:hover{
        transform: scale(1.05);
      }
    }
  }
}

/*如何申请*/
.apply {
  margin-top: 50px;
  background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg9.png") no-repeat center right;
  background-position-y: 42px;
  .title-module {
    margin-bottom: 34px;
    text-align: center;
  }
  /*条件*/
  .condition {
    width: 402px;
    //height: 415px;
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg10.png");
    float: left;
    padding: 0 24px 0 40px;
    box-sizing: border-box;
    .condition-item {
      border-bottom: 1px solid #6e8acb;
      padding: 18px 0;
      box-sizing: border-box;
      .num-icon {
        float: left;
        background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon2.png");
        padding: 0 16px;
        font-style: normal;
        font-size: 30px;
        color: #FFFFFF;
        line-height: 44px;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
        border-bottom-left-radius: 22px;
        margin-right: 6px;
        margin-left: -74px;
      }
      .text {
        color: #FFFFFF;
        .text-title {
          font-size: 18px;
          font-weight: bold;
          line-height: 44px;
        }
        .classes-row {
          .icon {
            width: 5px;
            height: 5px;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/circle_white.png") no-repeat;
            float: left;
            margin-top: 12px;
            margin-right: 10px;
          }
          span {
            width: 92%;
            line-height: 25px;
            font-size: 14px;
            color: #FFFFFF;
            float: left;
            text-align: left;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  /*流程*/
  .process {
    width: 760px;
    height: 415px;
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/bg11.png") no-repeat;
    float: right;
    padding: 18px;
    box-sizing: border-box;
    .num-icon {
      float: left;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon2.png");
      padding: 0 16px;
      font-style: normal;
      font-size: 30px;
      color: #FFFFFF;
      line-height: 44px;
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;
      border-bottom-left-radius: 22px;
      margin-right: 6px;
      margin-left: -50px;
    }
    .text-title {
      font-size: 18px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 44px;
    }

    .content {
      .process-item {
        width: 157px;
        min-height: 262px;
        background: #FFFFFF;
        text-align: center;
        float: left;
        margin-left: 25px;
        border-radius: 2px;
        .item-bg {
          width: 157px;
          height: 115px;
          background: url("https://img.thea.cn/thea/zt/seo/uws/images/step_1.png") no-repeat;
        }
        .item-title {
          font-size: 16px;
          font-weight: bold;
          color: #444444;
        }
        .text {
          font-size: 14px;
          color: #666666;
          padding: 12px;
          box-sizing: border-box;
          line-height: 26px;
        }
        &:nth-of-type(1) {
          margin-left: 16px;
        }
        &:nth-of-type(2) {
          .item-bg {
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/step_2.png") no-repeat;
          }
        }
        &:nth-of-type(3) {
          .item-bg {
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/step_3.png") no-repeat;
          }
        }
        &:nth-of-type(4) {
          .item-bg {
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/step_4.png") no-repeat;
          }
        }
      }
    }
    .btn {
      font-size: 18px;
      margin-top: 20px;
      //border: 1px solid red;
      text-align: center;
      .btn-item {
        padding: 0 72px;
        box-sizing: border-box;
        color: #FFFFFF;
        text-align: center;
        border-radius: 5px;
        line-height: 43px;
        display: inline-block;
        //border: 1px solid #000;
        text-indent: -9999px;
        &:nth-of-type(2) {
          margin-left: 25px;
          margin-right: 2px;
        }
      }
    }
  }
}

.footer {
  margin-top: 38px;
  background: #f6f6f6;
  font-size: 12px;
  padding: 22px 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 16px;
  .footer-nav {
    .nav-item {
      display: inline-block;
      color: #444444;
      border-right: 1px solid #cccccc;
      padding: 0 15px;
      box-sizing: border-box;
      &:hover {
        color: #eb4d4d;
      }
    }
  }
  .address {
    color: #666666;
    margin-top: 18px;
  }
}

/*广告*/
.ad {
  display: none;
  width: 100%;
  height: 99px;
  background: url("https://img.thea.cn/thea/zt/seo/uws/images/ad_1.png") no-repeat;
  position: fixed;
  bottom: 0;
  .container {
    height: 99px;
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/ad_2.png") no-repeat;
  }
  .free-get {
    //border: 1px solid #000;
    float: right;
    margin-top: 25px;
    font-size: 16px;
    .tel {
      float: left;
      width: 242px;
      height: 40px;
      background: #FFFFFF;
      margin-right: 10px;
      outline: 0;
      &::placeholder {
        color: #999999;
      }
    }
    .get-result {
      float: left;
      height: 40px;
      background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon2.png");
      border-radius: 2px;
      color: #FFFFFF;
      cursor: pointer;
      padding: 0 50px;
      box-sizing: border-box;
      border: none;
      outline: none;
      font-weight: bold;
    }
  }
  .close {
    width: 25px;
    height: 25px;
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/colse.png") no-repeat;
    float: right;
    margin-top: -25px;
    margin-left: 26px;
    cursor: pointer;

  }
}
/*当有广告的时候显示*/
.bottom-cleardiv{
  display: none;
  height: 99px;
}

/*弹窗*/
.match-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .mask-wrap {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    .modal {
      width: 502px;
      height: 402px;
      padding: 14px;
      box-sizing: border-box;
      .closeLog {
        width: 28px;
        height: 28px;
        float: right;
        cursor: pointer;
      }
      .listen {
        width: 94%;
        background: #FFFFFF;
        border-radius: 5px;
        position: absolute;
        bottom: 16px;
        padding: 22px 15px 15px 15px;
        box-sizing: border-box;
        .listen-item {
          width: 204px;
          line-height: 40px;
          border-radius: 6px;
          outline: none;
          border: none;
          background: #e8e8e8;
          text-align: left;
          font-size: 15px;
          &:nth-of-type(1) {
            margin-right: 10px;
          }
        }
        .hint {
          margin: 15px;
          .icon {
            width: 6px;
            height: 6px;
            background: url("https://img.thea.cn/thea/zt/seo/uws/images/star.png") no-repeat;
            display: inline-block;
          }
          span {
            font-size: 12px;
            color: #444444;
          }
        }
        .btn {
          font-size: 18px;
          //border: 1px solid #000;
          .btn-item {
            padding: 0 46px;
            box-sizing: border-box;
            color: #FFFFFF;
            text-align: center;
            line-height: 40px;
            display: inline-block;
            box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
            &:first-child {
              background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon2.png");
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
              outline: none;
              border: none;
              margin-top: -4px;
              margin-right: -6px;
            }
            &:last-child {
              background: url("https://img.thea.cn/thea/zt/seo/uws/images/icon3.png");
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
            }
          }
        }
      }
    }
  }
}

/*试听名额*/
.test {
  display: none;
  .modal {
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/popup_1.png") no-repeat;
  }
  .closeLog {
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/close_3.png") no-repeat;
  }
  .listen {
    text-align: center;
  }
}

/*报名申请*/
.join {
  display: none;
  .modal {
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/popup_2.png") no-repeat;

  }
  .mask-wrap{
    .modal{
      padding: 10px 10px 30px 32px;
      .listen{
        width: 90%;
      }
    }
  }
  .closeLog {
    background: url("https://img.thea.cn/thea/zt/seo/uws/images/close_4.png") no-repeat;
  }
  .info {
    .listen-item {
      width: 48%;
      //padding: 0 18px;
      //box-sizing: border-box;
      line-height: 40px;
      border-radius: 6px;
      &:nth-of-type(1) {
        margin-right: 10px;
      }
    }
  }
  .submit {
    width: 100%;
    background: #ff5931;
    line-height: 40px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 3px;
  }
  .check-item {
    color: #444444;
    position: relative;
    margin-bottom: 20px;
    margin-left: 18px;
    .item-label {
      font-size: 16px;
      line-height: 16px;
      display: inline-block;
      margin-left: 5px;
      margin-right: 15px;
      color: #777;
    }
    .radio_type {
      @extend %in-b;
      vertical-align: middle;
      margin-top: -4px;
      width: 11px;
      height: 11px;
      appearance: none;
      position: relative;
    }
    .radio_type:before {
      content: '';
      width: 11px;
      height: 11px;
      background-color: #e6e6e6;
      border: solid 1px #a7a7a7;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .radio_type:checked:before {
      content: '';
      width: 11px;
      height: 11px;
      border: 1px solid #3161d2;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .radio_type:checked:after {
      content: '';
      width: 5px;
      height: 5px;
      text-align: center;
      background: #3161d2;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .radio_type:checked + label {
      color: #3161d2;
    }
  }
}

#ECHAT_invite, .allimg{
  display: none!important;
}
